Database/etudiant.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="etudiant">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nom"/>
        <xs:element type="xs:string" name="prenom"/>
        <xs:element type="xs:string" name="niveau_etude"/>
        <xs:element type="xs:string" name="dept"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>