Database/projet.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="projet">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="titre"/>
        <xs:element type="xs:string" name="type"/>
        <xs:element type="xs:string" name="prof"/>
        <xs:element type="xs:string" name="mots_cles"/>
        <xs:element type="xs:string" name="note"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>