Database/reclamation.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reclamation">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="date"/>
        <xs:element type="xs:string" name="description"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>